.team {
    padding: 75px 0;
}
h6.description {
    font-weight: bold;
    letter-spacing: 2px;
    color: #999;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 5px;
}
.profile {
    margin-top: 25px;
}
.profile h1 {
    font-weight: normal;
    font-size: 20px;
    margin: 10px 0 0 0;
}
.profile h2 {
    font-size: 14px;
    font-weight: lighter;
    margin-top: 5px;
}
.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}
.total-portfolio {
	float: right;
}
#personImage {
	width: 200px;
	height: 200px;
}

@media only screen and (max-width: 770px) and (min-width: 400px){
	#total-portfolio {
		display: none;
	}
	#title {
		float: right;
		width: 200px;
	}
	#tag {
		float: right;
		width: 200px;
		margin-top: -60px;
	}
	#personImage {
		width: 140px;
		height: 140px;
	}
}
​
@media only screen and (max-width: 400px){
	#total-portfolio {
		display: none;
	}
	#title {
		float: right;
		width: 100px;
	}
	#tag {
		float: right;
		width: 100px;
	}
	#personImage {
		width: 140px;
		height: 140px;
	}
}
​