<!DOCTYPE html>
<html>

<head>
    <!-- Setting the right viewport -->
	<meta content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>One Push</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</head>

<body ng-app="myApp" ng-controller="dataCtrl">
	<!-- Navbar-->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <a class="navbar-brand" href="#">One Push</a>
        <div class="form-group navbar-left navbar-form">
            <input type="text" class="form-control" placeholder="Search (by title, url or tag)" ng-model="searchKeyword">
        </div>

        <button type="button" class="btn btn-primary navbar-btn" data-toggle="modal" data-target=".bs-example-modal-lg">Add Website</button>
    </nav> <!-- End of navbar -->

    <section class="team">
        <div class="container">
        	<!-- Prealoader -->
            <div ng-if="loading" class="loading">
                <img src="img/preloader.gif">
            </div>
            <!-- Error Message -->
            <div ng-if="serverError" class="text-center error">
                <h4>{{errorMessage}}</h4>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="col-lg-12">
                        <h6 class="description">Web Portfolio <span class="total-portfolio">We're found {{noOfSites}} personal web portfolio</span>
        				</h6>
                        <div class="row pt-md">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile" ng-repeat="person in personList | filter: searchKeyword ">
                                <img src="{{person.favicon_image}}" id="personImage"class="img-thumbnail">
                                <h1>{{person.title}}</h1>
                                <h2><i class="fa fa-tag" aria-hidden="true"></i> {{person.tag}} | <i class="fa fa-link" aria-hidden="true"></i><a ng-href="{{person.url_address}}" target="_blank"> link</a> &nbsp;&nbsp; <i class="fa fa-thumbs-o-up" aria-hidden="true"> 2</i></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Model-->
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Add Website</h4>
                </div>
                <div class="modal-body" ng-controller="postCtrl">
                    <form class="form-horizontal" ng-submit="submitForm()">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Title</label>
                            <div class="col-sm-10">
                                <input type="name" required class="form-control" placeholder="Title" ng-model="user.title">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Web Address</label>
                            <div class="col-sm-10">
                                <input type="name" required class="form-control" placeholder="web/url address" ng-model="user.url">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Tag</label>
                            <div class="col-sm-10">
                                <input type="name" required class="form-control" placeholder="Tag" ng-model="user.tag">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary">Push Website</button>
                            </div>
                        </div>
                    </form>
                    <div class="well" ng-class="{ 'text-success': success, 'text-danger': !success }" ng-if="postStatus">
                        {{postStatus}}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div> <!-- End of model -->
</body>

</html>